<?xml version="1.0"?>
<robot  name="obj_5" >
 <link  name="obj_5" >
  <inertial >
   <origin  rpy="0 0 0"  xyz="-0.003 -0.0075 0.0" />
   <mass  value="0.152" />
   <inertia  ixz="0"  iyy="0.001"  izz="0.001"  ixx="0.001"  iyz="0"  ixy="0" />
  </inertial>
  <collision >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.06 0.075 0.06" />
   </geometry>
  </collision>
  <visual >
   <origin  rpy="0 0 0"  xyz="0 0 0" />
   <geometry >
    <box  size="0.06 0.075 0.06" />
   </geometry>
   <material  name="color" >
    <color  rgba="0.6096969939199915 0.18565744031379694 0.411400329750083 1.0" />
   </material>
  </visual>
 </link>
</robot>
